h1 {
	color: #FFB200;
	font-family: calibri;
	font-size: 40;
	font-weight: bold;
}


b.announcementTitle {
	color: #FFB200;
	font-family: calibri;
	font-size: 25;
	font-weight: 50;
}

body {
	padding-top: 2%;
	background-color: #262635;
}

b {
		padding-left: 0%;
		font-family: consolas;
		font-size: 18;
		font-weight: bold;
		color: #FFFAE2;
}

div {
    max-width: 60%;
    border: 7px solid #BCBC98;
    padding: 10px;
    margin: auto;
}

.announcementBox {
    max-width: 60%;
	font-family: liberation sans;
    border: 7px solid #DD7A00;
    padding: 10px;
    margin: auto;
//	background-color: #ffffff;
}